@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --primary-color: #28bf96;
  --primary-color-dark: #209677;
  --text-dark: #111827;
  --text-light: #6b7280;
  --white: #ffffff;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .btn {
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  .btn:hover {
    background-color: var(--primary-color-dark);
  }
  
  body {
    font-family: "Roboto", sans-serif;
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
  }
  
  nav {
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7rem;
  background-color: #f9fefd;
  z-index: 1000;
    
    
  }
  
  .nav__logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
  }
  
  .nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  .link a {
    text-decoration: none;
    color: var(--text-light);
    cursor: pointer;
    transition: 0.3s;
  }
  
  .link a:hover {
    color: var(--primary-color);
  }
  
  .header {
    padding: 0 1rem;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
  }
  
  
  
  @media (width < 900px) {
    .nav__links {
      display: none;
    }
  
    .header {
      padding: 1rem;
      grid-template-columns: repeat(1, 1fr);
    }
  
    .content {
      text-align: center;
    }
  
    .image {
      grid-area: 1/1/2/2;
    }
  }


  
  